.bouton-connexion {
  background-color: #00ccff; /* Bleu par défaut */
  color: white;
  border: none;
  padding: 14px 24px;
  font-size: 5vw;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bouton-connexion.connected {
  background-color: #75e55e; /* Vert pour connecté */
}

.bouton-connexion.error {
  background-color: #ec4e5e; /* Rouge pour erreur */
}

.bouton-connexion:hover {
  filter: brightness(0.95);
}
