.bpm-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}


.bpm-chart {
  width: 80%;
  height: 1rem;
}

.bpm-container .bpm-text{
  color: #d00000;  /* Humidity color (dark blue) */
  margin-top: 5vh;  /* Set a relative margin for humidity */
}
